<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>cnpm</display-name>
  <servlet>
    <servlet-name>PublicLoginAction</servlet-name>
    <servlet-class>action.PublicLoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicLoginAction</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>action.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/dang-xuat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminListDeTaiTruongAction</servlet-name>
    <servlet-class>action.AdminListDeTaiTruongAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListDeTaiTruongAction</servlet-name>
    <url-pattern>/admin/quan-tri-truong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminListDeTaiKhoaAction</servlet-name>
    <servlet-class>action.AdminListDeTaiKhoaAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListDeTaiKhoaAction</servlet-name>
    <url-pattern>/admin/quan-tri-khoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicFormAction</servlet-name>
    <servlet-class>action.PublicFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicFormAction</servlet-name>
    <url-pattern>/ketquadangky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicWelcomeAction</servlet-name>
    <servlet-class>action.PublicWelcomeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicWelcomeAction</servlet-name>
    <url-pattern>/welcome</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminListCapAction</servlet-name>
    <servlet-class>action.AdminListCapAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListCapAction</servlet-name>
    <url-pattern>/danh-sach-cap-de-tai</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDangKyAction</servlet-name>
    <servlet-class>action.PublicDangKyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDangKyAction</servlet-name>
    <url-pattern>/dang-ky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicLoadFormAction</servlet-name>
    <servlet-class>action.PublicLoadFormAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicLoadFormAction</servlet-name>
    <url-pattern>/load-form</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicTHDangKyAction</servlet-name>
    <servlet-class>action.PublicTHDangKyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicTHDangKyAction</servlet-name>
    <url-pattern>/thuc-hien-dang-ky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicXacNhanDKAction</servlet-name>
    <servlet-class>action.PublicXacNhanDKAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicXacNhanDKAction</servlet-name>
    <url-pattern>/xacnhandangky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicChiTietDTAction</servlet-name>
    <servlet-class>action.PublicChiTietDTAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicChiTietDTAction</servlet-name>
    <url-pattern>/chi-tiet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminListUsersAction</servlet-name>
    <servlet-class>action.AdminListUsersAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminListUsersAction</servlet-name>
    <url-pattern>/admin/list-users</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicUpdateAction</servlet-name>
    <servlet-class>action.PublicUpdateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicUpdateAction</servlet-name>
    <url-pattern>/cap-nhat</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PublicDeleteAction</servlet-name>
    <servlet-class>action.PublicDeleteAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PublicDeleteAction</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>HomeAction</servlet-name>
    <servlet-class>action.HomeAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeAction</servlet-name>
    <url-pattern>/thong-bao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminThongBaoAction</servlet-name>
    <servlet-class>action.AdminThongBaoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminThongBaoAction</servlet-name>
    <url-pattern>/admin/hieu-chinh-thong-bao</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test</servlet-name>
    <servlet-class>action.test</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test</servlet-name>
    <url-pattern>/admin/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminUserAction</servlet-name>
    <servlet-class>action.AdminUserAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminUserAction</servlet-name>
    <url-pattern>/admin/hieu-chinh-user</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminKhoaDangKyAction</servlet-name>
    <servlet-class>action.AdminKhoaDangKyAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminKhoaDangKyAction</servlet-name>
    <url-pattern>/admin/khoa-dang-ky</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminTimKiemKhoaAction</servlet-name>
    <servlet-class>action.AdminTimKiemKhoaAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTimKiemKhoaAction</servlet-name>
    <url-pattern>/admin/tim-kiem-khoa</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminTimKiemTruongAction</servlet-name>
    <servlet-class>action.AdminTimKiemTruongAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminTimKiemTruongAction</servlet-name>
    <url-pattern>/admin/tim-kiem-truong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminChiTietDTAction</servlet-name>
    <servlet-class>action.AdminChiTietDTAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChiTietDTAction</servlet-name>
    <url-pattern>/admin/chitiet-detai-truong</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AdminKiemDuyetAction</servlet-name>
    <servlet-class>action.AdminKiemDuyetAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminKiemDuyetAction</servlet-name>
    <url-pattern>/admin/kiemduyet</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>